
<h1>Espace membre</h1>

<ul class="nav flex-column" style="background-color:#edf5f2">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#">Mes commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mes adresses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('app_password')}}">Modifier mon mot de passe</a>
    </li>
    <li class="nav-item">
      <a class="{{path('app_logout')}}" >Déconnexion</a>
    </li>
  </ul>